body {
    --primary: #169fd8;
    --primary_hover: #124fce;
    --text: #222;
    --accent: #000000;
    --lighter: #999999;
    --highlight: #EF262C;
    --border: #EFEFEF;
    font-family: 'Roboto', sans-serif !important;
}

a{text-decoration: none !important;}

.breadcrumb-wrap{
    display: block;
}
.breadcrumb-wrap .breadcrumb{
    position: relative;
}
.breadcrumb-wrap .breadcrumb .breadcrumb_default{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1290px;
    width: 100%;
}
.breadcrumb .breadcrumb_default .breadcrumb_populated{
    /* margin: 30px 0 0; */
    width: 100%;
}
.breadcrumb_default .breadcrumb_populated .breadcrumb_title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2222222222;
    margin-bottom: 18px;
    text-transform: capitalize;
    color: var(--accent);
    font-family: var(--global-typography-heading_title-font-family);
    display: none;
}

.breadcrumb_default .breadcrumb_populated .breadcrumb_list{
    margin-bottom: 0;
    line-height: 1.4285714286;
    color: var(--accent);
    font-size: 14px;
}
.breadcrumb_default .breadcrumb_populated .breadcrumb_list a{
    color: var(--lighter);
}
.breadcrumb_default .breadcrumb_populated .breadcrumb_list a:hover{
    color: var(--accent);
}
.breadcrumb_list .fa-angle-right{
    font-size: 10px;
    color: var(--accent);
    margin: 0 10px;
}
.wp-my-account{
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-login{
    max-width: 440px;
    margin: auto;
}
.form-login h2{
    font-size: 28px;
    margin-bottom: 40px;
}
.required {
    color: #e2401c;
}
.form-login label, .form-reset-pass label{
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 400;
    color: var(--accent);
    display: block;
}
.form-login input, .form-reset-pass input{
    font-size: 14px;
    padding: 0.93em 1.25em;
    background-color: var(--background);
    font-weight: 400;
}
.form-login .form-remember{
    display: inline-block;
}
.form-login span.remember{
    cursor: pointer;
    color: #666666;
}
.form-login .lost-pass{
    display: block;
    float: right;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    margin-bottom: 30px;
    font-size: 14px;
    color: var(--text);
}
.form-login .lost-pass:hover{
    color: var(--primary);
}
.form-login .btn-submit{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.929em 2em;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    line-height: 1.5714285714;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--primary);
}
.form-login .btn-submit:hover, .form-reset-pass .btn-submit:hover{
    background-color: var(--primary_hover);
}
.form-reset-pass{
    width: 100%;
}
.form-reset-pass .btn-submit{
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.929em 2em;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    line-height: 1.5714285714;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--primary);
}

@media (min-width: 768px){
    .form-reset-pass{
        width: 48%;
    }

    .form-login{
        max-width: 440px;
        margin-left: auto;
    }
}
